{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5 text-center">Журнал посещений</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'visits.logs' %}active{% endif %}" href="{{ url_for('visits.logs') }}">Журнал посещений</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'visits.pages_stat' %}active{% endif %}" href="{{ url_for('visits.pages_stat') }}">Статистика по страницам</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'visits.users_stat' %}active{% endif %}" href="{{ url_for('visits.users_stat') }}">Статистика по пользователям</a>
        </li>
    </ul>

{% block tab_content %}
{% endblock %}

{% endblock %}
