{% extends 'visits/base.html' %}

{% block tab_content %}

    <h3 class="my-5">Статистика посещений по страницам</h3>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Страница</th>
                <th>Количество посещений</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    {{  record.path}}
                </td>
                <td>{{ record.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="text-center">
    <a class="btn btn-dark" href="{{ url_for(request.endpoint, download_csv=True) }}">Экспорт в CSV</a>
</div>

{% endblock %}
