{% extends 'visits/base.html' %}

{% block tab_content %}

    <h3 class="my-5">Статистика посещений по пользователям</h3>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Пользователь</th>
                <th>Количество посещений</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                
                <td>
                    {% if record.last_name %} 
                    {{ record.last_name }} {{ record.first_name }} {{ record.middle_name }}
                    {% else %}
                        Неаутентифицированный Пользователь
                    {% endif %}
                </td>
                <td>{{ record.count }}</td>
            </tr>


            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-dark" href="{{ url_for(request.endpoint, download_csv=True) }}">Экспорт в CSV</a>
    </div>
{% endblock %}
